!!! 5
%html.no-js{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'ie=edge', 'http-equiv' => 'x-ua-compatible' }
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1,shrink-to-fit=no' }
    %title= current_page.data.title
    = stylesheet_link_tag 'site'
  %body{ class: page_classes }
    = yield
    = javascript_include_tag 'site'
