---
title: Hello world
---

.row
  .columns
    %h1 Hello world
    %ul
      %li
        = link_to '/other.html' do
          To another page
      %li
        = link_to '/misc/more.html' do
          To yet another page
